layout: index
description: trame a solution for building interactive applications using a web front-end
comments: false
---

div.first_section(style="color: rgb(38, 39, 48); text-align: center")
  div(style="display: flex; align-items: center;justify-content: center;font-size: 95px; margin-top: 40px;")
    img(style="margin: 70px 0 40px 0", src="/trame/logo.svg", height="180px")
    b &nbsp;trame
  div(style="font-size: 85px; padding: 40px 0 80px 0;")
    | simple, powerful, innovative
  div(style="font-size: 44px; text-align: left;color: #444; padding: 50px 0;")
    b trame&nbsp;
    | - a Python framework that weaves together powerful open source components to create interactive web application simply and effortlessly for visual analytics

  div.separator(style="position: relative; width: 100%; height: 100px; margin: 0 0 40px 0;")
    div(style="background: #04549C; position: absolute; left: 50%; width: 100vw; height: 100%; transform: translateX(-50%);")


  div.two_blocks(style="display: flex; margin-top: 25px;")
    div(style="flex: 1.5; padding: 20px; text-align: left; border-left: 8px solid #04549C; border-right: 8px solid #04549C; border-radius: 15px; margin-right: 100px;")
      p(style="font-size: 45px; padding: 0 0 20px 0;")
        b trame&nbsp;
        | /træm/ is 🇫🇷 for
      li(style="font-size: 25px; padding: 0 0 10px 30px;")
        | the core that ties things together
      li(style="font-size: 25px; padding: 0 0 10px 30px;")
        | a guide providing the essence of a task
    div(style="flex: 1; padding: 20px; border-left: 8px solid #1CAC4C; border-right: 8px solid #1CAC4C; border-radius: 15px; margin-left: 100px;")
      p(style="font-size: 45px; padding: 0 0 20px 0;")
        | simple to install
      div(id="banner-start-command", style="color: rgba(255, 255, 255, 0.8); margin-top: 10px;")
        | pip install trame


  center
    iframe(style="margin: 40px 0 0 0;width: 100%; height: 450px;", src="https://player.vimeo.com/video/764741737?h=bd3c37ebfb&title=0&byline=0&portrait=0", frameborder="0", allow="autoplay; fullscreen; picture-in-picture", allowfullscreen)

  div(style="font-size: 45px; padding: 20px 0 10px;text-align: left;color: #444;")
    | Use&nbsp;
    b trame&nbsp;
    | to create stunning, interactive web applications compactly and intuitively.


div.separator(style="position: relative; width: 100%; height: 100px; margin: 40px 0;")
  div(style="background: #1CAC4C; position: absolute; left: 50%; width: 100vw; height: 100%; transform: translateX(-50%);")

a(id="3d")

div.second_section(style="color: rgb(38, 39, 48);")
  div(style="display: flex")
    center(style="flex: 1; padding: 20px; margin: 0 10px;")
      img(style="margin: 0.5%", src="/trame/examples/FiniteElementAnalysis.jpg", width="100%")
    center(style="flex: 1; padding: 20px; margin: 0 10px;")
      img(style="margin: 0.5%", src="/trame/examples/VTPViewer-singlepin.jpg", width="100%")
    center(style="flex: 1; padding: 20px; margin: 0 10px;")
      img(style="margin: 0.5%", src="/trame/examples/StateViewer-medical.jpg", width="100%")
  div(style="display: flex")
    center(style="flex: 1; padding: 20px; margin: 0 10px;")
      img(style="margin: 0.5%", src="/trame/examples/CarotidFlow.jpg", width="100%")
    div(style="flex: 1; padding: 20px; border-left: 8px solid #04549C; border-right: 8px solid #1CAC4C; border-radius: 20px;margin: 0 10px;")
        h3(style="font-size: 35px; padding: 0 0 20px; color: #444; text-align: center;")
          | 3D Visualization
        p(style="font-size: 18px;")
          | With best-in-class VTK and ParaView platforms at its core,&nbsp;
          b trame&nbsp;
          | provides complete control of 3D visualizations and data processing.
          br
          | Developers benefit from a write-once environment while&nbsp;
          b trame&nbsp;
          | simply exposes both local and remote rendering through a single method.
    center(style="flex: 1; padding: 20px; margin: 0 10px;")
      img(style="margin: 0.5%", src="/trame/examples/ZarrContourViewer.jpg", width="100%")
  div(style="display: flex")
    center(style="flex: 1; padding: 20px; margin: 0 10px;")
      img(style="margin: 0.5%", src="/trame/examples/StateViewer-rock.jpg", width="100%")
    center(style="flex: 1; padding: 20px; margin: 0 10px;")
      img(style="margin: 0.5%", src="/trame/examples/VTPViewer-earth.jpg", width="100%")
    center(style="flex: 1; padding: 20px; margin: 0 10px;")
      img(style="margin: 0.5%", src="/trame/examples/StateViewer-asteroid.jpg", width="100%")

div.separator(style="position: relative; width: 100%; height: 100px; margin: 40px 0 20px 0;")
  div(style="background: #04549C; position: absolute; left: 50%; width: 100vw; height: 100%; transform: translateX(-50%);")

a(id="focused")

div.third_section(style="color: rgb(38, 39, 48);")

  div(style="display: flex; margin: 0 auto")
    center(style="flex: 1; padding: 20px;")
      img(style="margin: 0.5%", src="/trame/examples/USIncomeByState.jpg", width="100%")
    center(style="flex: 1; padding: 20px;")
      img(style="margin: 0.5%", src="/trame/examples/ScatterMatrix.jpg", width="100%")
    center(style="flex: 1; padding: 20px;")
      img(style="margin: 0.5%", src="/trame/examples/Table.jpg", width="100%")

  div(style="display: flex; margin: 20px auto; min-height: 220px;")
    div(style="flex: 1; padding: 20px; border-left: 8px solid #04549C; border-right: 8px solid #1CAC4C; border-radius: 20px;margin: 0 10px;")
      h3(style="font-size: 35px; padding: 0 0 30px; color: #444; text-align: center;")
        | Rich Features
      p(style="font-size: 20px;")
        b trame&nbsp;
        | leverages existing libraries and tools such as Vuetify, Altair, Vega, deck.gl, VTK, ParaView, and more, to create vivid content for visual analytics applications.
    div(style="flex: 1; padding: 20px; border-left: 8px solid #04549C; border-right: 8px solid #1CAC4C; border-radius: 20px;margin: 0 10px;")
      h3(style="font-size: 35px; padding: 0 0 30px; color: #444; text-align: center;")
        | Problem Focused
      p(style="font-size: 20px;")
        | By relying simply on Python and HTML,&nbsp;
        b trame&nbsp;
        | focuses on one's data and associated analysis and visualizations while hiding the complications of web development.
    div(style="flex: 1; padding: 20px; border-left: 8px solid #04549C; border-right: 8px solid #1CAC4C;border-radius: 20px;margin: 0 10px;")
      h3(style="font-size: 35px; padding: 0 0 30px; color: #444; text-align: center;")
        | Desktop to cloud
      p(style="font-size: 20px;")
        | The resulting&nbsp;
        b trame&nbsp;
        | applications act as local desktop applications, or remote cloud applications, accessed through standard web browsers.

  div(style="display: flex; margin: 0 auto")
    center(style="flex: 1; padding: 20px;")
      img(style="margin: 0.5%", src="/trame/examples/UberPickupsNYC.jpg", width="100%")
    center(style="flex: 1; padding: 20px;")
      img(style="margin: 0.5%", src="/trame/examples/xaitk.jpg", width="100%")
    center(style="flex: 1; padding: 20px;")
      img(style="margin: 0.5%", src="/trame/examples/ContourGeometry.jpg", width="100%")

a(id="applications")
  div.separator(style="position: relative; width: 100%; height: 100px; margin: 20px 0;")
    div(style="background: #1CAC4C; position: absolute; left: 50%; width: 100vw; height: 100%; transform: translateX(-50%);")

h3(style="font-size: 40px; padding: 20px 0 0 0; color: #444; text-align: center;")
  b Applications

div(style="display: flex;justify-content: space-around; align-items: center; padding: 50px;")
  a(href="https://www.kitware.com/contact/", target="_blank", style="flex:1; padding: 0 30px;")
    img(style="margin: 0.5%", src="/trame/examples/mstar.jpg", alt="MStar live CFD simulation and visualization", title="MStar live CFD simulation and visualization using templated models", height="150px")
  a(href="https://github.com/XAITK/xaitk-saliency-web-demo", target="_blank", style="flex:1; padding: 0 30px;")
    img(style="margin: 0.5%", src="/trame/examples/xaitk.jpg", alt="Explainable AI Toolkit interactive usage", title="Explainable AI Toolkit interactive usage", height="150px")
  a(href="https://github.com/kitware/trame-mnist", target="_blank", style="flex:1; padding: 0 30px;")
    img(style="margin: 0.5%", src="/trame/examples/trame-mnist.jpg", alt="Simple interactive AI example", title="Simple interactive AI example", height="150px")

div(style="display: flex;justify-content: space-around; align-items: center; padding: 50px;")
  a(href="https://github.com/kitware/paraview-visualizer", target="_blank", style="flex:1; padding: 0 30px;")
    img(style="margin: 0.5%", src="/trame/examples/pv_visualizer.jpg", alt="ParaView like interface for the web", title="ParaView like interface for the web", height="150px")
  a(href="https://www.kitware.com/contact/", target="_blank", style="flex:1; padding: 0 30px;")
    img(style="margin: 0.5%", src="/trame/examples/ConceptualModeler.jpg", alt="Ground water model builder", title="Ground water model builder", height="150px")
  div(style="flex:1;font-size: 35px; color: #444; text-align: center;")
    b more to come...

div.separator(style="position: relative; width: 100%; height: 100px; margin: 40px 0 0 0;")
  div(style="background: #04549C; position: absolute; left: 50%; width: 100vw; height: 100%; transform: translateX(-50%);")

h3(style="font-size: 40px; padding: 30px 0; color: #444; text-align: center;")
  b Examples Gallery

a(id="examples")

center(style="")
  a(href="https://github.com/Kitware/trame/tree/master/examples/06_vtk/Applications/ZarrContourViewer", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/ZarrContourViewer.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/blob/master/examples/08_pydeck/01_uber-nyc-pickups.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/UberPickupsNYC.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/blob/master/examples/05_charts/Altair-Vega/00_altair-charts-selector.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/USIncomeByState.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/blob/master/examples/05_charts/Altair-Vega/00_altair-charts-selector.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/StreamGraph.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/blob/master/examples/02_vuetify/00_dataframe-table.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/Table.jpg", height="150px")
  a(href="https://github.com/Kitware/trame-tutorial/blob/master/01_vtk/solution_ray_cast.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/SimpleRayCast.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/tree/master/examples/06_vtk/Applications/SurfacePicking", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/SurfacePicking-select.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/blob/master/examples/05_charts/Plotly/01_plotly-charts-resizable.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/PlotlyMulti.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/blob/master/examples/03_markdown/01_markdown.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/Markdown.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/tree/master/examples/06_vtk/Applications/MultiFilter", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/MultiFilter.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/blob/master/examples/05_charts/Plotly/00_plotly-charts-selector.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/PlotlyScatterPlot.jpg", height="150px")
  a(href="https://github.com/Kitware/trame-tutorial/blob/master/01_vtk/solution_flow.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/CarotidFlow.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/blob/master/examples/05_charts/Matplotlib/00_matplotlib-charts.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/MatplotlibSubPolts.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/blob/master/examples/05_charts/Altair-Vega/00_altair-charts-selector.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/ScatterMatrix.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/tree/master/examples/06_vtk/02_ContourGeometry", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/ContourGeometry.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/tree/master/examples/06_vtk/Applications/FiniteElementAnalysis", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/FiniteElementAnalysis.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/blob/master/examples/08_pydeck/00_mapping-demo.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/MappingDemo.jpg", height="150px")

  a(href="https://github.com/Kitware/trame/blob/master/examples/07_paraview/StateViewer/app.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/StateViewer-asteroid.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/blob/master/examples/07_paraview/StateViewer/app.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/StateViewer-medical.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/blob/master/examples/07_paraview/StateViewer/app.py", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/StateViewer-rock.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/tree/master/examples/06_vtk/Applications/VTPViewer", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/VTPViewer-earth.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/tree/master/examples/06_vtk/Applications/VTPViewer", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/VTPViewer-singlepin.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/tree/master/examples/06_vtk/Applications/SurfacePicking", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/SurfacePicking-hover.jpg", height="150px")
  a(href="https://github.com/Kitware/trame/tree/master/examples/06_vtk/Applications/RemoteSelection", target="_blank")
    img(style="margin: 0.5%", src="/trame/examples/RemoteSelection.jpg", height="150px")


div.separator(style="position: relative; width: 100%; height: 100px; margin: 40px 0 0 0;")
  div(style="background: #1CAC4C; position: absolute; left: 50%; width: 100vw; height: 100%; transform: translateX(-50%);")

ul#intro-feature-list(style="padding-top: 50px;")
  li.intro-feature-wrap(style="padding-top: 0;")
    .intro-feature
      .intro-feature-icon
        a(href="https://kitware.github.io/trame/flyer.pdf").link
          i.fa.fa-cloud-download        
      h3.intro-feature-title
        a(href="https://pypi.org/project/trame/").link Open Source
      p.intro-feature-desc
        b trame&nbsp;
        | is an open source project licensed under Apache License Version 2.0 which allows users to create
        | open source or commercial applications without any licensing worries.

  li.intro-feature-wrap(style="padding-top: 0;")
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.vtk.org/services/").link Support and Services
      p.intro-feature-desc
        | Kitware can help you get started, create custom components,
        | or even build full applications. Our team is here to help. &nbsp;
        a(href="https://www.kitware.com/what-we-offer/#support").link Please contact us
