layout: index
description: Trame a solution for building interactive applications using a Web front-end
subtitle: Trame, the core of your next application
cmd: pip install trame
comments: false
---

h3(style="font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 30px; padding: 30px 0 20px; color: #444;")
  | From a Python script to a full fledged application

p.intro-feature-desc(style="margin: 0 0 20px 0;")
  | A quick solution for creating rich applications with compelling interfaces for controlling
  | your visualizations and data processing in plain Python. Trame enables you to skip the
  | Web development part and just focus on your data and associated visualizations.
  | Trame applications can be used locally like desktop applications, run 
  | in the cloud like web applications, or deployed on premise to access big and/or sensitive data.
  | Trame comes fully featured by leveraging existing libraries and tools
  | such as Vuetify, Altair, Vega, deck.gl, VTK, ParaView and more.
  | VTK and ParaView are first-class citizens inside Trame, allowing you to be in full control of
  | your 3D visualizations and data movement.
  | Trame empowers any Python developer to create beautiful and interactive Web application
  | in a very compact and intuitive way.

center
  a(href="https://github.com/Kitware/trame/tree/master/examples/VTK/Applications/FiniteElementAnalysis", target="_blank")
    img(style="margin: 0.5%", src="/trame/images/vtk-fea.jpg", height="200px")
  a(href="https://github.com/Kitware/trame/tree/master/examples/PlainPython/GeoMaps/UberPickupsNYC", target="_blank")
    img(style="margin: 0.5%", src="/trame/images/uber-nyc-pickups.jpg", height="200px")
  a(href="https://github.com/Kitware/trame/tree/master/examples/VTK/Applications", target="_blank")
    img(style="margin: 0.5%", src="/trame/images/vtk-f1-picking.jpg", height="200px")
  a(href="https://github.com/Kitware/trame/tree/master/examples/PlainPython/GeoMaps/MappingDemo", target="_blank")
    img(style="margin: 0.5%", src="/trame/images/MappingDemo.jpg", height="200px")

ul#intro-feature-list(style="padding-top: 20px;")
  li.intro-feature-wrap(style="padding-top: 0;")
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://pypi.org/project/trame/").link All for free
      p.intro-feature-desc
        | Trame is an Open Source project under the BSD license which allows you to create
        | Open Source or commercial applications without any licensing fees.
        | Trame aims to enable the many to create and share their work more easily.

  li.intro-feature-wrap(style="padding-top: 0;")
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.vtk.org/services/").link Support and Services
      p.intro-feature-desc
        | If you need help getting started or even creating your full application,
        | Kitware can help you. Our team is here for you. &nbsp;
        a(href="https://www.kitware.com/what-we-offer/#support").link Please contact us
        |  for more information on how we can help you in your next project.
