--extra-index-url https://wheels.vtk.org
vtk==9.3.20240817.dev0

pygments
sphinx
sphinx-rtd-theme

# Add external widgets

# core
trame-client>=3.2.3
trame-server>=3.0.3

# Vue 2
trame-leaflet
trame-simput
trame-grid-layout
trame-plotly
trame-vega
trame-router
trame-components
trame-matplotlib
trame-deckgl
trame-rca
trame-markdown

# Vue 2/3
trame-vtk
trame-vuetify
trame-iframe
trame-keycloak
trame-xterm
trame-code
trame-vtk3d
trame-vtklocal

# Vue 3
trame-formkit
trame-quasar
trame-datagrid