name: Docker
on:
  push:
    branches:
      - master

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest

    # Start a local registry to which we will push trame-common, so that
    # docker buildx may access it in later steps.
    services:
      registry:
        image: registry
        ports:
          - 5000:5000

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # To emulate other architectures
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      # For multi-platform builds
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver-opts: network=host

      - name: Create month stamp
        run: echo "MONTH_STAMP=$(date +%Y-%m)" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build common
        uses: docker/build-push-action@v2
        with:
            platforms: linux/amd64,linux/arm64
            context: docker
            file: docker/Dockerfile.common
            push: true
            tags: localhost:5000/trame-common

      - name: Build common (glvnd)
        uses: docker/build-push-action@v2
        with:
            context: docker
            file: docker/Dockerfile.common
            build-args: BASE_IMAGE=nvidia/opengl:1.2-glvnd-runtime-ubuntu20.04
            push: true
            tags: localhost:5000/trame-common-glvnd

      - name: Build and push (pip)
        uses: docker/build-push-action@v2
        with:
            platforms: linux/amd64,linux/arm64
            context: docker
            file: docker/Dockerfile.pip
            build-args: BASE_IMAGE=localhost:5000/trame-common
            push: true
            tags: |
                kitware/trame:latest
                kitware/trame:ubuntu-20.04-py39
                kitware/trame:${{ env.MONTH_STAMP }}

      - name: Build and push (pip glvnd)
        uses: docker/build-push-action@v2
        with:
            context: docker
            file: docker/Dockerfile.pip
            build-args: BASE_IMAGE=localhost:5000/trame-common-glvnd
            push: true
            tags: |
                kitware/trame:glvnd
                kitware/trame:1.2-glvnd-runtime-ubuntu20.04-py39
                kitware/trame:glvnd_${{ env.MONTH_STAMP }}

      - name: Build and push (conda)
        uses: docker/build-push-action@v2
        with:
            platforms: linux/amd64,linux/arm64
            context: docker
            file: docker/Dockerfile.conda
            build-args: BASE_IMAGE=localhost:5000/trame-common
            push: true
            tags: |
                kitware/trame:conda
                kitware/trame:conda_ubuntu-20.04-py39
                kitware/trame:conda_${{ env.MONTH_STAMP }}
